### Module 1: Introduction to Portfolio Analysis

In [ ]:
import sys
print(f"Python environment: {sys.executable}")

Python environment: c:\Users\franc\anaconda3\envs\portfolio\python.exe

#### Returns and volatility

How to compute the return from prices

In [3]:
prices_a = [8.7, 8.91, 8.71]

In [ ]:
8.91/8.7 - 1

0.024137931034482918

In [ ]:
prices_a[1:] #Everything except the first element with slicing. Index starts at 0

[8.91, 8.71]

In [ ]:
prices_a[:-1] #Everything except the last element with slicing.

[8.7, 8.91]

In [10]:
#Lists in python are not vectors, like MATLAB or R. To do vectorized operations, we can use numpy arrays.
import numpy as np

In [ ]:
prices_a = np.array([8.7, 8.91, 8.71])
prices_a

array([8.7 , 8.91, 8.71])

In [ ]:
prices_a[1:]/prices_a[:-1] - 1

array([ 0.02413793, -0.02244669])

In [13]:
import pandas as pd

In [ ]:
prices = pd.DataFrame({"BLUE":[8.7, 8.91, 8.71, 8.43, 8.73],
                       "ORANGE":[10.66, 11.08, 10.71, 11.59, 12.11]
                       })

In [20]:
prices

   BLUE  ORANGE
0  8.70   10.66
1  8.91   11.08
2  8.71   10.71
3  8.43   11.59
4  8.73   12.11

In [26]:
prices.iloc[1:] #iloc is index location

   BLUE  ORANGE
1  8.91   11.08
2  8.71   10.71
3  8.43   11.59
4  8.73   12.11

In [33]:
prices.iloc[1:].values/prices.iloc[:-1] - 1

       BLUE    ORANGE
0  0.024138  0.039400
1 -0.022447 -0.033394
2 -0.032147  0.082166
3  0.035587  0.044866